
body
{
    font-family: verdana;

}


/*tr:nth-child(3n-1)*/
/*{*/
/*background-color: #E0E0E0;*/
/*}*/


tr:hover
{
    background-color: yellow; !important;

}



a:hover
{
    background-color: yellow;
}

h1
{
    color: black;
}



.otherTableThTd
{
    border: 1px solid black;
    padding: 5px

}

.kfb_background
{
    background-color: #1b6d85;/*  #FFE3BD;*/ /*#FFC559*/;  /*#FF9500*/; /*#FFC559*/; /*#FFD659;*/ /*#FFC259;*/
/       /* background-image: url("/images/1225150901c.jpg");*/

}



.kfb_button
{
    /* to be used for changing the style of buttons */
    color: black;

}


.kfb_datatable tr,th,table
{
    border: 0px solid black; !important;
    padding: 5px;
    font-family: "Calibri"; !important;
    font-size: 12pt; !important;
    text-align: left;
    /*list-style-type: square; */
    /*box-shadow: 1px 1px 5px #555 inset;*/


}

.boxit
{
    background-color: lightgoldenrodyellow; !important;
    box-shadow: 1px 1px 5px darkgrey inset;  !important;
}



.kfb_DataTableDetailedInfo
{
    border: 1px solid darkgrey; !important;
    padding: 5px;
    background-color: lightgoldenrodyellow;
    box-shadow: 1px 1px 5px darkgrey inset;
}

.kfb_fullpage
{

    /* background-color: #4d9900; */
    /*    background-image: url("/images/1225150901c.jpg"); */
    /*    border-width: 1px; */
}



.kfb_form
{
    max-width: 900px;
    font-size: 12pt;
    background-color: #ffffff;
    border: solid;
    border-width: 1px;
    text-align: left;
    margin-top: 100px;
    padding: 10px;
    box-shadow: 5px 5px 5px #DE2626; /* #DE2626 */
}



.kfb_form
{

    max-width: 900px; /*900px;*/
    font-size: 12pt;
    background-color: #ffffff; /* #ffffff;*/
    border: solid;
    border-width: 0px; /*1px*/
    text-align: left;
    margin-top: 100px;
    padding: 10px;
    box-shadow: 5px 5px 5px #DE2626; /*#DE2626*/

}



.hoursTable td
{

    border: 2px solid black;
    border-collapse: collapse;
    padding: 3px;

}


.hoursTable th
{

    border: 2px solid black;
    border-collapse: collapse;
    padding: 3px;

}



.hoursTable tr
{

    border: 2px solid black;
    border-collapse: collapse;
    padding: 3px;

}






.map
{
    background: #1FB1E6 ;
    border: 0px solid black;
    border-collapse:  collapse;
    border-radius: 5px;
    padding: 3px;
}




.kfb_logo
{

    border-width: 1px;
    width: auto;
    height: 70px;
    /* box-shadow: 2px 2px 2px #DE2626 */
}


.kfb_menubar-button
{
    color:green; !important;
    /*background-color: white;*/

}

#page
{
    max-width: 900px; /*900px;*/
    font-size: 12pt;
    background-color: #ffffff; /*#ffffff;*/
    border: solid;
    border-width: 1px;
    text-align: left;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px #DE2626; /*#DE2626*/
}


/* Added by Neal */
.pageblock
{
    max-width: 900px; /*900px;*/
    font-size: 12pt;
    background-color: #ffffff; /*#ffffff;*/
    border: solid;
    border-width: 1px; /*1px;*/
    text-align: left;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 3px 3px 3px #104757; /*#DE2626*/
    color: black;
    border-radius: 4px;
}



.kfb_paypal
{
    text-align:center;
    margin-top: 25px;
}



.kfb_queryeditbox
{
    max-width: 600px;
    max-height: inherit;
    background-color: lightyellow;
    font-size: 13px;
    font-family: "Calibri"; !important;
    width: 600px;
    height: 100px;
    box-shadow: 1px 1px 5px darkgrey inset;  !important;
}

.kfb_sidebar
{
    background-color: white;
    text-align: left ;
    color: black;
    margin-top: 10px;
    box-shadow: 3px 3px 3px #104757; /*#004d00; /*#DE2626; */
    border: solid;
    border-width: 1px;
    padding: 5px;
}

/* Added by Neal */
.kfb_sidebar h3
{
    color: black;

}


/* Added by Neal */
.kfb_sidebar_title
{
    text-align: Center;
    color: Blue;

}


.kfb_title
{
    text-align: center;
    border-width: 1px;
    /*  background-image: url("/images/1225150901c.jpg"); */
    background-color: white; /*#a1dda1; #c7ebc7; #ceff99;  #2d862d;  white*/
    color: black;
}


.todo
{
    font-family: "Calibri", sans-serif;
    font-size: 5px;
    color: #053eff;
    font-style: italic;

    /*display: none;*/

}

p.todo:hover
{
    font-size: 20px; !important;
}


.kfb_topmenubar
{
    background-color: #7a43b6 !important; /* #004d00; */
    padding: 10px;
    color: orange; !important;
    box-shadow:  2px 2px 3px #DE2626; /*#DE2626;*/
}





.kfb_topten
{
    max-width: 500px;
    background-color: lightyellow;
}

.kfb_top10editbox
{
    background-color: lightyellow;
    max-width: 600px;
    box-shadow: 2px 2px 5px darkgrey inset;  !important;
}
/* Added by Neal */
.moreinfo
{


}












/*.kfb_themes
{
    
    
    background-color: white;
}
  
  
  
  
.kfb_map
{
    box-shadow: 2px 2px 2px #b3b3b3;
    
}

.kfb_calendar
{
    box-shadow: 2px 2px 2px #b3b3b3;
    
}
  

    .kfb_paypal
   {
    text-align:center;
    margin-top: 25px;


    
   }
    
  
    .kfb_sidebar
    {
        background-color: white;
       
        margin-top: 10px;
        box-shadow: 5px 5px 5px #DE2626;
        border: solid;
        border-width: 1px;
        padding: 5px;
    }
    
   
    .kfb_topmenubar
    {
        background-color: gray;
        border-width: 0px;
        box-shadow:  1px 2px 3px #DE2626
        
        
    }
   
   

   
            
   h1
   {
    color: black;
    }
    
    .kfb_fullpage
    {
        
        background-color: orange;
        border-width: 1px;
        
    }
    
    .kfb_title
    {
       text-align: center;
       border-width: 1px;
       
       background-color: gray;
       color: orange;
    }

.kfb_form
{
    
        max-width: 900px;
        font-size: 12pt;
        background-color: #ffffff;
        border: solid;
        border-width: 1px;
        text-align: left;
        margin-top: 100px;
        padding: 10px;
        box-shadow: 5px 5px 5px #DE2626
    
}
    
    
    
    
    #page
    {
        max-width: 900px;
        font-size: 12pt;
        background-color: #ffffff;
        border: solid;
        border-width: 1px;
        text-align: left;
        margin-top: 10px;
        padding: 10px;
        box-shadow: 5px 5px 5px #DE2626
    }
    
    .kfb_logo
    {
       
        border-width: 1px;
        box-shadow: 2px 2px 2px #DE2626 *
    }
*/