body
{
   background-color:#BDBDBD;
}
#dialog-form
{
   position:relative;
   width:500px;
   height:330px;

   background-color:#585858;
   /*border-radius:3px;*/
   box-shadow:0px 0px 10px 0px #424242;
   /*padding:10px;*/
   box-sizing:border-box;
   font-family:helvetica;

}
#dialog-form #close_login
{
   position:absolute;
   top:5px;
   right:5px;
   width:15px;
   height:15px;
}
#dialog-form p
{
   margin-top:40px;
   font-size:22px;
   color:#E6E6E6;
}
#dialog-form #login
{
   width:250px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;
   padding:5px;
}
#dialog-form #password
{
   margin-top:5px;
   width:250px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;
   padding:5px;
}
#dialog-form #dologin
{
   margin-left:-5px;
   margin-top:10px;
   width:250px;
   height:40px;
   border:none;
   border-radius:3px;
   color:#E6E6E6;
   background-color:grey;
   font-size:20px;
}